html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url("/public/share.png");
  background-size: 50px ;
  background-repeat: no-repeat;
  background-position: bottom;
}
